body{
    width: 100%;
    margin-left: -0.01%;
}
#head{
    background-color: white;
    width: 100%;
    padding: 2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
}
#iospinelogo{
    width: 25%;
    margin-top: -1%;
    margin-left: 2%;
}
.fa-solid{
    float: right;
    font-size: 150%;
    color: #741e1e; ;
}
.fa-solid {
    font-size: 150%;
    margin-right: 4%;
    color: #741e1e;;
}
#img{
    width: 100%;
    margin-top: 15%;
}
#iospine{
    background-color: #a41818;
    text-align: center;

}
#courses{
    /* margin-bottom: 5px; */
    padding: 1%;
    /* width: ; */
    color: #090202;
    text-align: center;
    outline:none;
    border: none;
    border-radius: 6px;
    font-size: 100%;
    font-weight: 550;
}
#footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
#ft2{
    border-left: 2px solid white;
}
#ft1 ul li{
    list-style-type: none;
    padding: 10%;
    margin-left: -74%;

}
#ft1 ul li a{
    color: white;
    text-decoration: none;
}
#ft2 ul li{
    list-style-type: none;
    padding: 10%;
}
#ft2 ul li a{
    color: white;
    text-decoration: none;
}
/* .option{
    text-algn: center;
    color: #090202;
}
.option.hover{
    background-color: #090202;
} */
/* .fa-solid{
    width: 10em;
    font-size: 190%; 

} */